<a class="logo"> <img src="app/img/lego.svg" alt="Geppetto"
	width="48" height="48"> <span class="lead">
		SocialLogin</span>
</a>
<nav class="menu">
	<ul>
		<li>
            <a href="#/surveys">Survey Builder</a>
          </li>
          <li>
            <a href="#/country_Screen-en">Country</a>
          </li>
          <li>
            <a href="#/Client_Screen-en">Clients</a>
          </li>
          <li>
            <a href="#/Product_Screen-en">Products</a>
          </li>
          <li>
            <a href="#/Route_Screen-en">Routes</a>
          </li>
          <li>
            <a href="#/survey_result">Survey Result</a>
          </li>
	</ul>
	
	
	
</nav>